/* ##################################################################################################################### */

/* COPYRIGHT *************************************/

/* ##################################################################################################################### */

/* COLORS */
:root {
  --background-color: #1d181f;
  --white: #fff;
  --theme-color: #204156;
}

.copyright_container {
  text-align: center;
  background: var(--background-color);
  color: var(--white);
  margin: 0;
}

.copyright {
  margin-top: 10px;
}

.underline {
  border-bottom: 3px solid var(--theme-color);
}
