/* ##################################################################################################################### */

/* PRICING TABLES *************************************/

/* ##################################################################################################################### */

/* COLORS */
:root {
  --white: #fff;
  --light-theme-color: #337ab7;
  --medium-gray: #555;
  --hover-gray: #adadad;
  --pricing-bg: #245782;
}

.panel-heading {
  line-height: 20px;
  color: var(--medium-gray);
}

.panel-heading h3 {
  font-size: 22px;
  margin: 0 0 4px;
}

.byline {
  font-size: 13px;
}

.price {
  font-size: 34px;
  color: var(--light-theme-color);
}

.price small {
  font-size: 20px;
}

.col-md-4 .featured {
  border: 1px solid var(--light-theme-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

.col-md-4 .featured .panel-heading {
  background-color: var(--light-theme-color);
}

.col-md-4 .featured .panel-heading h3 {
  color: var(--white);
}

.col-md-4 .featured .panel-heading .byline {
  color: var(--white);
}

.col-md-4 .panel-footer.featured {
  background: var(--light-theme-color);
}

.col-md-4 .panel-footer.featured .btn-pricing {
  border: 2px solid var(--white);
}

.col-md-4 .panel-footer.featured .btn-pricing:hover {
  background-color: var(--white);
  color: var(--light-theme-color);
}

.col-md-4 .btn-pricing {
  background: var(--light-theme-color);
  color: var(--white);
  border: 0;
}

.col-md-4 .btn-pricing:hover {
  color: var(--white);
  background-color: var(--pricing-bg);
  border-color: var(--hover-gray);
}
